.footer {
  @apply py-10 bg-sansec;
  margin-top: 50px !important;
  &__socials {
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 500px;
    // margin: auto;
    justify-content: center;
    align-items: center;
    & > a {
      @apply hover:bg-slate-500 p-2 transition-all rounded-full bg-sanpry;
    }
  }
}
