.nav {
  @include tablet {
    display: none;
  }

  &__link {
    width: 400px;
    display: flex;
    justify-content: space-between;
    & > a {
      @apply font-bold text-base capitalize;
      // @include links;
      @include links;
      position: relative;
      &:hover::after {
        position: absolute;
        content: "";
        top: 110%;
        left: 0px;
        width: 100%;

        @apply transition border-solid border-stone-600 border-b-2 text-doggedsec;
      }
    }
  }
  @apply py-4;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navsmall {
  @apply bg-sanpry py-1;
  position: fixed;
  width: 100%;
  z-index: 10;
  &__img {
    transition: all 0.3s ease-in-out;
    width: 30px;
    height: 30px;
    @apply hover:border p-1 cursor-pointer  border-stone-900  border-solid;
  }
  &__menu {
    display: grid;
    place-items: center;
  }
  display: none;
  align-items: center;

  &__flex {
    display: flex;
    justify-content: space-between;
  }
  @include tablet {
    display: block;
  }
}

.navtrans {
  &__logo {
    height: 45px;
    // width: 45px;

    & > img {
      @include image;
    }
  }
  @include custom {
    width: 250px;
  }
  &__close {
    @apply p-2 transition-all cursor-pointer rounded-lg hover:bg-sanwhite;
    & > img {
      width: 18px;
      height: 18px;
      @apply border;
    }
  }
  width: 400px;
  height: 100vh;
  position: fixed;
  z-index: 20;
  @apply bg-sanpry p-3 pt-6;
  &__link {
    // @include links;

    & > a {
      @extend .button;
      @include h4;
      & > img {
        // height: 27px;
        // width: 27px;
        margin-right: 19px;
        filter: brightness(100);
      }
      display: flex;
      transition: all 0.3 ease-in-out;
      align-items: center;
      &:hover {
      }
      @apply text-sanwhite  mb-3  rounded-lg;
    }
  }
  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @apply mb-10;
  }
}

.togglez {
  height: 100vh;
  overflow: hidden;
  position: relative;
  &::after {
    content: "";
    top: 0px;
    left: 0px;
    position: absolute;
    height: 100%;
    width: 100%;
    @apply bg-doggedsec opacity-50;
  }
}

.testz {
  @extend .gradebg;
}

.navsan {
  @include tablet {
    display: none;
  }
  &__phone {
    display: flex;
    gap: 10px;
    @include p;
    @apply pr-4 text-sanwhite;
    @include links;
    &:hover {
      @apply text-sanwhite;
      align-items: center;
    }
  }
  &__btn {
    @include p;
    @apply py-1 px-2 text-sanwhite rounded-r-full rounded-l-full border-solid border-sanaccent border;
    display: flex;
    align-items: center;
    @include links;
    &:hover {
      @apply text-sanwhite;
    }
    gap: 7px;
  }
  &__a {
    @include genlinkstyle;
    @include h4;
    text-transform: capitalize;
    @apply text-sanwhite;
    &:hover {
      @apply text-sanwhite;
    }

    &:hover::after {
      @apply border-solid border border-sanwhite  text-sanwhite;
    }
  }
  &__links {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    @apply bg-sanpry pl-2 py-1  pr-5 rounded-r-full;
  }
  @apply bg-sansec pr-2;
  display: flex;
  justify-content: space-between;
}
