.opinion {
  margin-top: 50px;
  padding-top: 70px;
  padding-bottom: 40px;
  &__mover {
    position: absolute;
    & > div {
      width: 100%;
    }
    // bottom: 15px;
    left: 10px;
    top: 200px;
    max-width: 96%;
    right: 10px;
    @apply p-4 rounded-xl;
    background: hsla(58, 98%, 50%, 0.71);
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @include tablet {
      grid-template-columns: 1fr;
    }
    &--img2 {
      height: 353px;
      //   overflow: hidden;

      position: relative;
      & > img {
        @include image;
      }
    }
    &--img1 {
      height: 353px;
      overflow: hidden;
      position: relative;
      @include tablet {
        height: 150px;
      }
      &::after {
        content: "";
        @apply bg-doggedsec opacity-50;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
      }
      & > img {
        @include image;
      }
    }
  }
}

.roundbutton {
  &__right {
    position: absolute !important;
    top: 50%;
    left: 120%;
    z-index: 50;
    @include tablet {
      top: 30%;
      left: 80%;
    }
  }
  &__left {
    position: absolute;
    top: 50%;
    right: 120%;

    z-index: 20;
    @include tablet {
      top: 30%;
      right: 80%;
    }
  }
  @apply rounded-full transition delay-75 bg-doggedaccent hover:bg-gray-400;
  height: 26px;
  display: grid;
  place-items: center;
  width: 26px;
}
