.reach {
  @apply mt-20;
  &__grid {
    &--form {
      max-width: 460px;
      margin: auto;
      padding-bottom: 10px;
      & > textarea {
        width: 100%;
        padding: 10px 16px;

        @apply border-solid border-2 font-popins text-base text-stone-600 border-stone-400 rounded-lg  mb-4;

        &:focus {
          @apply border-solid border-2 border-stone-800;
        }
      }
      & > input {
        width: 100%;
        padding: 10px 16px;

        @apply border-solid border-2 font-popins text-base text-stone-600 border-stone-400 rounded-lg  mb-4;

        &:focus {
          @apply border-solid border-2 border-stone-800;
        }
      }
    }
    &--img {
      height: 100%;
      max-width: 368px;
      margin-left: auto;
      @include tablet {
        height: 280px;
        margin: auto;
      }
      overflow: hidden;
      @apply border-solid rounded-xl;
      & > img {
        @include image;
      }
    }
    display: grid;
    grid-gap: 20px;

    grid-template-columns: repeat(2, 1fr);
    @include tablet {
      grid-template-columns: 1fr;
    }
  }
}
