* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none !important;
    color: unset;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Open+Sans&family=Raleway&family=Roboto&family=Rubik&display=swap";

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./mixings/mixing";
@import "./section/header";
@import "./section/nav";
@import "./section/service";
@import "./section/recent";
@import "./section/opinion";
@import "./section/steps";
@import "./section/reach";
@import "./section/footer";
@import "./section/admin";

@import "./section/login";
@import "./section/about";

@layer base {
  h1 {
    @include h1;
  }

  h2 {
    @include h2;
  }

  h3 {
    @include h3;
  }

  h4 {
    @include h4;
  }

  p {
    @include p;
  }
}

html {
  scroll-behavior: smooth;
}
.main {
  max-width: 1200px;

  margin: auto;
  // border: 1px solid orange;
}

.main-big {
  max-width: 1800px;
  margin: auto;
  // padding-left: 10px;
  // padding-right: 10px;
}
